@font-face {
	font-family: 'hi-icon';
	src:url('../fonts/hi-icon.eot');
	src:url('../fonts/hi-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hi-icon.woff') format('woff'),
		url('../fonts/hi-icon.ttf') format('truetype'),
		url('../fonts/hi-icon.svg#hi-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'hi-icon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-home:before {
	content: "\e000";
}
.icon-home2:before {
	content: "\e001";
}
.icon-home3:before {
	content: "\e002";
}
.icon-office:before {
	content: "\e003";
}
.icon-newspaper:before {
	content: "\e004";
}
.icon-pencil:before {
	content: "\e005";
}
.icon-pencil2:before {
	content: "\e006";
}
.icon-quill:before {
	content: "\e007";
}
.icon-droplet:before {
	content: "\e00a";
}
.icon-image:before {
	content: "\e00c";
}
.icon-image2:before {
	content: "\e00d";
}
.icon-images:before {
	content: "\e00e";
}
.icon-camera:before {
	content: "\e00f";
}
.icon-camera2:before {
	content: "\e014";
}
.icon-dice:before {
	content: "\e015";
}
.icon-bullhorn:before {
	content: "\e01b";
}
.icon-connection:before {
	content: "\e01c";
}
.icon-podcast:before {
	content: "\e01d";
}
.icon-feed:before {
	content: "\e01e";
}
.icon-book:before {
	content: "\e01f";
}
.icon-books:before {
	content: "\e020";
}
.icon-library:before {
	content: "\e021";
}
.icon-file:before {
	content: "\e022";
}
.icon-profile:before {
	content: "\e023";
}
.icon-file2:before {
	content: "\e024";
}
.icon-file3:before {
	content: "\e025";
}
.icon-file4:before {
	content: "\e026";
}
.icon-copy:before {
	content: "\e027";
}
.icon-copy2:before {
	content: "\e028";
}
.icon-copy3:before {
	content: "\e029";
}
.icon-paste:before {
	content: "\e02a";
}
.icon-paste2:before {
	content: "\e02b";
}
.icon-paste3:before {
	content: "\e02c";
}
.icon-stack:before {
	content: "\e02d";
}
.icon-folder:before {
	content: "\e02e";
}
.icon-folder-open:before {
	content: "\e02f";
}
.icon-tag:before {
	content: "\e030";
}
.icon-tags:before {
	content: "\e031";
}
.icon-qrcode:before {
	content: "\e033";
}
.icon-ticket:before {
	content: "\e034";
}
.icon-calculate:before {
	content: "\e03a";
}
.icon-support:before {
	content: "\e03b";
}
.icon-phone:before {
	content: "\e03c";
}
.icon-phone-hang-up:before {
	content: "\e03d";
}
.icon-address-book:before {
	content: "\e03e";
}
.icon-notebook:before {
	content: "\e03f";
}
.icon-envelope:before {
	content: "\e040";
}
.icon-pushpin:before {
	content: "\e041";
}
.icon-location:before {
	content: "\e042";
}
.icon-location2:before {
	content: "\e043";
}
.icon-compass:before {
	content: "\e044";
}
.icon-map:before {
	content: "\e045";
}
.icon-map2:before {
	content: "\e046";
}
.icon-history:before {
	content: "\e047";
}
.icon-clock:before {
	content: "\e048";
}
.icon-clock2:before {
	content: "\e049";
}
.icon-alarm:before {
	content: "\e04a";
}
.icon-alarm2:before {
	content: "\e04b";
}
.icon-bell:before {
	content: "\e04c";
}
.icon-stopwatch:before {
	content: "\e04d";
}
.icon-calendar:before {
	content: "\e04e";
}
.icon-calendar2:before {
	content: "\e04f";
}
.icon-print:before {
	content: "\e050";
}
.icon-keyboard:before {
	content: "\e051";
}
.icon-screen:before {
	content: "\e052";
}
.icon-laptop:before {
	content: "\e053";
}
.icon-mobile:before {
	content: "\e054";
}
.icon-mobile2:before {
	content: "\e055";
}
.icon-tablet:before {
	content: "\e056";
}
.icon-tv:before {
	content: "\e057";
}
.icon-cabinet:before {
	content: "\e058";
}
.icon-drawer:before {
	content: "\e059";
}
.icon-drawer2:before {
	content: "\e05a";
}
.icon-drawer3:before {
	content: "\e05b";
}
.icon-box-add:before {
	content: "\e05c";
}
.icon-box-remove:before {
	content: "\e05d";
}
.icon-download:before {
	content: "\e05e";
}
.icon-upload:before {
	content: "\e05f";
}
.icon-disk:before {
	content: "\e060";
}
.icon-storage:before {
	content: "\e061";
}
.icon-undo:before {
	content: "\e062";
}
.icon-redo:before {
	content: "\e063";
}
.icon-flip:before {
	content: "\e064";
}
.icon-flip2:before {
	content: "\e065";
}
.icon-undo2:before {
	content: "\e066";
}
.icon-redo2:before {
	content: "\e067";
}
.icon-forward:before {
	content: "\e068";
}
.icon-reply:before {
	content: "\e069";
}
.icon-bubble:before {
	content: "\e06a";
}
.icon-bubbles:before {
	content: "\e06b";
}
.icon-bubbles2:before {
	content: "\e06c";
}
.icon-bubble2:before {
	content: "\e06d";
}
.icon-bubbles3:before {
	content: "\e06e";
}
.icon-bubbles4:before {
	content: "\e06f";
}
.icon-user:before {
	content: "\e070";
}
.icon-users:before {
	content: "\e071";
}
.icon-user2:before {
	content: "\e072";
}
.icon-users2:before {
	content: "\e073";
}
.icon-user3:before {
	content: "\e074";
}
.icon-user4:before {
	content: "\e075";
}
.icon-quotes-left:before {
	content: "\e076";
}
.icon-busy:before {
	content: "\e077";
}
.icon-spinner:before {
	content: "\e078";
}
.icon-spinner2:before {
	content: "\e079";
}
.icon-spinner3:before {
	content: "\e07a";
}
.icon-spinner4:before {
	content: "\e07b";
}
.icon-spinner5:before {
	content: "\e07c";
}
.icon-spinner6:before {
	content: "\e07d";
}
.icon-binoculars:before {
	content: "\e07e";
}
.icon-search:before {
	content: "\e07f";
}
.icon-zoom-in:before {
	content: "\e080";
}
.icon-zoom-out:before {
	content: "\e081";
}
.icon-expand:before {
	content: "\e082";
}
.icon-contract:before {
	content: "\e083";
}
.icon-expand2:before {
	content: "\e084";
}
.icon-contract2:before {
	content: "\e085";
}
.icon-key:before {
	content: "\e086";
}
.icon-key2:before {
	content: "\e087";
}
.icon-lock:before {
	content: "\e088";
}
.icon-lock2:before {
	content: "\e089";
}
.icon-unlocked:before {
	content: "\e08a";
}
.icon-wrench:before {
	content: "\e08b";
}
.icon-settings:before {
	content: "\e08c";
}
.icon-equalizer:before {
	content: "\e08d";
}
.icon-cog:before {
	content: "\e08e";
}
.icon-cogs:before {
	content: "\e08f";
}
.icon-cog2:before {
	content: "\e090";
}
.icon-hammer:before {
	content: "\e091";
}
.icon-wand:before {
	content: "\e092";
}
.icon-aid:before {
	content: "\e093";
}
.icon-bug:before {
	content: "\e094";
}
.icon-pie:before {
	content: "\e095";
}
.icon-stats:before {
	content: "\e096";
}
.icon-bars:before {
	content: "\e097";
}
.icon-bars2:before {
	content: "\e098";
}
.icon-gift:before {
	content: "\e099";
}
.icon-trophy:before {
	content: "\e09a";
}
.icon-glass:before {
	content: "\e09b";
}
.icon-mug:before {
	content: "\e09c";
}
.icon-food:before {
	content: "\e09d";
}
.icon-leaf:before {
	content: "\e09e";
}
.icon-rocket:before {
	content: "\e09f";
}
.icon-meter:before {
	content: "\e0a0";
}
.icon-meter2:before {
	content: "\e0a1";
}
.icon-dashboard:before {
	content: "\e0a2";
}
.icon-hammer2:before {
	content: "\e0a3";
}
.icon-fire:before {
	content: "\e0a4";
}
.icon-lab:before {
	content: "\e0a5";
}
.icon-magnet:before {
	content: "\e0a6";
}
.icon-remove:before {
	content: "\e0a7";
}
.icon-remove2:before {
	content: "\e0a8";
}
.icon-briefcase:before {
	content: "\e0a9";
}
.icon-airplane:before {
	content: "\e0aa";
}
.icon-truck:before {
	content: "\e0ab";
}
.icon-road:before {
	content: "\e0ac";
}
.icon-accessibility:before {
	content: "\e0ad";
}
.icon-target:before {
	content: "\e0ae";
}
.icon-shield:before {
	content: "\e0af";
}
.icon-lightning:before {
	content: "\e0b0";
}
.icon-switch:before {
	content: "\e0b1";
}
.icon-power-cord:before {
	content: "\e0b2";
}
.icon-signup:before {
	content: "\e0b3";
}
.icon-list:before {
	content: "\e0b4";
}
.icon-list2:before {
	content: "\e0b5";
}
.icon-numbered-list:before {
	content: "\e0b6";
}
.icon-menu:before {
	content: "\e0b7";
}
.icon-menu2:before {
	content: "\e0b8";
}
.icon-tree:before {
	content: "\e0b9";
}
.icon-cloud:before {
	content: "\e0ba";
}
.icon-cloud-download:before {
	content: "\e0bb";
}
.icon-cloud-upload:before {
	content: "\e0bc";
}
.icon-download2:before {
	content: "\e0bd";
}
.icon-upload2:before {
	content: "\e0be";
}
.icon-download3:before {
	content: "\e0bf";
}
.icon-upload3:before {
	content: "\e0c0";
}
.icon-globe:before {
	content: "\e0c1";
}
.icon-earth:before {
	content: "\e0c2";
}
.icon-link:before {
	content: "\e0c3";
}
.icon-flag:before {
	content: "\e0c4";
}
.icon-attachment:before {
	content: "\e0c5";
}
.icon-eye:before {
	content: "\e0c6";
}
.icon-eye-blocked:before {
	content: "\e0c7";
}
.icon-eye2:before {
	content: "\e0c8";
}
.icon-bookmark:before {
	content: "\e0c9";
}
.icon-bookmarks:before {
	content: "\e0ca";
}
.icon-brightness-medium:before {
	content: "\e0cb";
}
.icon-brightness-contrast:before {
	content: "\e0cc";
}
.icon-contrast:before {
	content: "\e0cd";
}
.icon-star:before {
	content: "\e0ce";
}
.icon-star2:before {
	content: "\e0cf";
}
.icon-star3:before {
	content: "\e0d0";
}
.icon-heart:before {
	content: "\e0d1";
}
.icon-heart2:before {
	content: "\e0d2";
}
.icon-heart-broken:before {
	content: "\e0d3";
}
.icon-thumbs-up:before {
	content: "\e0d4";
}
.icon-thumbs-up2:before {
	content: "\e0d5";
}
.icon-happy:before {
	content: "\e0d6";
}
.icon-happy2:before {
	content: "\e0d7";
}
.icon-smiley:before {
	content: "\e0d8";
}
.icon-smiley2:before {
	content: "\e0d9";
}
.icon-tongue:before {
	content: "\e0da";
}
.icon-tongue2:before {
	content: "\e0db";
}
.icon-sad:before {
	content: "\e0dc";
}
.icon-sad2:before {
	content: "\e0dd";
}
.icon-wink:before {
	content: "\e0de";
}
.icon-wink2:before {
	content: "\e0df";
}
.icon-grin:before {
	content: "\e0e0";
}
.icon-grin2:before {
	content: "\e0e1";
}
.icon-cool:before {
	content: "\e0e2";
}
.icon-cool2:before {
	content: "\e0e3";
}
.icon-angry:before {
	content: "\e0e4";
}
.icon-angry2:before {
	content: "\e0e5";
}
.icon-evil:before {
	content: "\e0e6";
}
.icon-evil2:before {
	content: "\e0e7";
}
.icon-shocked:before {
	content: "\e0e8";
}
.icon-shocked2:before {
	content: "\e0e9";
}
.icon-confused:before {
	content: "\e0ea";
}
.icon-confused2:before {
	content: "\e0eb";
}
.icon-neutral:before {
	content: "\e0ec";
}
.icon-neutral2:before {
	content: "\e0ed";
}
.icon-wondering:before {
	content: "\e0ee";
}
.icon-wondering2:before {
	content: "\e0ef";
}
.icon-point-up:before {
	content: "\e0f0";
}
.icon-point-right:before {
	content: "\e0f1";
}
.icon-point-down:before {
	content: "\e0f2";
}
.icon-point-left:before {
	content: "\e0f3";
}
.icon-warning:before {
	content: "\e0f4";
}
.icon-notification:before {
	content: "\e0f5";
}
.icon-question:before {
	content: "\e0f6";
}
.icon-info:before {
	content: "\e0f7";
}
.icon-info2:before {
	content: "\e0f8";
}
.icon-blocked:before {
	content: "\e0f9";
}
.icon-cancel-circle:before {
	content: "\e0fa";
}
.icon-checkmark-circle:before {
	content: "\e0fb";
}
.icon-close:before {
	content: "\e0fd";
}
.icon-checkmark:before {
	content: "\e0fe";
}
.icon-checkmark2:before {
	content: "\e0ff";
}
.icon-spell-check:before {
	content: "\e100";
}
.icon-minus:before {
	content: "\e101";
}
.icon-plus:before {
	content: "\e102";
}
.icon-enter:before {
	content: "\e103";
}
.icon-exit:before {
	content: "\e104";
}
.icon-play:before {
	content: "\e105";
}
.icon-pause:before {
	content: "\e106";
}
.icon-stop:before {
	content: "\e107";
}
.icon-backward:before {
	content: "\e108";
}
.icon-forward2:before {
	content: "\e109";
}
.icon-play2:before {
	content: "\e10a";
}
.icon-pause2:before {
	content: "\e10b";
}
.icon-stop2:before {
	content: "\e10c";
}
.icon-backward2:before {
	content: "\e10d";
}
.icon-forward3:before {
	content: "\e10e";
}
.icon-first:before {
	content: "\e10f";
}
.icon-last:before {
	content: "\e110";
}
.icon-previous:before {
	content: "\e111";
}
.icon-next:before {
	content: "\e112";
}
.icon-eject:before {
	content: "\e113";
}
.icon-volume-high:before {
	content: "\e114";
}
.icon-volume-medium:before {
	content: "\e115";
}
.icon-volume-low:before {
	content: "\e116";
}
.icon-volume-mute:before {
	content: "\e117";
}
.icon-volume-mute2:before {
	content: "\e118";
}
.icon-volume-increase:before {
	content: "\e119";
}
.icon-volume-decrease:before {
	content: "\e11a";
}
.icon-loop:before {
	content: "\e11b";
}
.icon-loop2:before {
	content: "\e11c";
}
.icon-loop3:before {
	content: "\e11d";
}
.icon-shuffle:before {
	content: "\e11e";
}
.icon-arrow-up-left:before {
	content: "\e11f";
}
.icon-arrow-up:before {
	content: "\e120";
}
.icon-arrow-up-right:before {
	content: "\e121";
}
.icon-arrow-right:before {
	content: "\e122";
}
.icon-arrow-down-right:before {
	content: "\e123";
}
.icon-arrow-down:before {
	content: "\e124";
}
.icon-arrow-down-left:before {
	content: "\e125";
}
.icon-arrow-left:before {
	content: "\e126";
}
.icon-arrow-up-left2:before {
	content: "\e127";
}
.icon-arrow-up2:before {
	content: "\e128";
}
.icon-arrow-up-right2:before {
	content: "\e129";
}
.icon-arrow-right2:before {
	content: "\e12a";
}
.icon-arrow-down-right2:before {
	content: "\e12b";
}
.icon-arrow-down2:before {
	content: "\e12c";
}
.icon-arrow-down-left2:before {
	content: "\e12d";
}
.icon-arrow-left2:before {
	content: "\e12e";
}
.icon-arrow-up-left3:before {
	content: "\e12f";
}
.icon-arrow-up3:before {
	content: "\e130";
}
.icon-arrow-up-right3:before {
	content: "\e131";
}
.icon-arrow-right3:before {
	content: "\e132";
}
.icon-arrow-down-right3:before {
	content: "\e133";
}
.icon-arrow-down3:before {
	content: "\e134";
}
.icon-arrow-down-left3:before {
	content: "\e135";
}
.icon-arrow-left3:before {
	content: "\e136";
}
.icon-tab:before {
	content: "\e137";
}
.icon-checkbox-checked:before {
	content: "\e138";
}
.icon-checkbox-unchecked:before {
	content: "\e139";
}
.icon-checkbox-partial:before {
	content: "\e13a";
}
.icon-radio-checked:before {
	content: "\e13b";
}
.icon-radio-unchecked:before {
	content: "\e13c";
}
.icon-crop:before {
	content: "\e13d";
}
.icon-scissors:before {
	content: "\e13e";
}
.icon-filter:before {
	content: "\e13f";
}
.icon-filter2:before {
	content: "\e140";
}
.icon-font:before {
	content: "\e141";
}
.icon-text-height:before {
	content: "\e142";
}
.icon-text-width:before {
	content: "\e143";
}
.icon-bold:before {
	content: "\e144";
}
.icon-underline:before {
	content: "\e145";
}
.icon-italic:before {
	content: "\e146";
}
.icon-strikethrough:before {
	content: "\e147";
}
.icon-omega:before {
	content: "\e148";
}
.icon-sigma:before {
	content: "\e149";
}
.icon-table:before {
	content: "\e14a";
}
.icon-table2:before {
	content: "\e14b";
}
.icon-insert-template:before {
	content: "\e14c";
}
.icon-pilcrow:before {
	content: "\e14d";
}
.icon-left-toright:before {
	content: "\e14e";
}
.icon-right-toleft:before {
	content: "\e14f";
}
.icon-paragraph-left:before {
	content: "\e150";
}
.icon-paragraph-center:before {
	content: "\e151";
}
.icon-paragraph-right:before {
	content: "\e152";
}
.icon-paragraph-justify:before {
	content: "\e153";
}
.icon-paragraph-left2:before {
	content: "\e154";
}
.icon-paragraph-center2:before {
	content: "\e155";
}
.icon-paragraph-right2:before {
	content: "\e156";
}
.icon-paragraph-justify2:before {
	content: "\e157";
}
.icon-indent-increase:before {
	content: "\e158";
}
.icon-indent-decrease:before {
	content: "\e159";
}
.icon-new-tab:before {
	content: "\e15a";
}
.icon-embed:before {
	content: "\e15b";
}
.icon-code:before {
	content: "\e15c";
}
.icon-console:before {
	content: "\e15d";
}
.icon-share:before {
	content: "\e15e";
}
.icon-mail:before {
	content: "\e15f";
}
.icon-mail2:before {
	content: "\e160";
}
.icon-mail3:before {
	content: "\e161";
}
.icon-mail4:before {
	content: "\e162";
}
.icon-google:before {
	content: "\e163";
}
.icon-google-plus:before {
	content: "\e164";
}
.icon-google-plus2:before {
	content: "\e165";
}
.icon-google-plus3:before {
	content: "\e166";
}
.icon-google-plus4:before {
	content: "\e167";
}
.icon-google-drive:before {
	content: "\e168";
}
.icon-facebook:before {
	content: "\e169";
}
.icon-facebook2:before {
	content: "\e16a";
}
.icon-facebook3:before {
	content: "\e16b";
}
.icon-instagram:before {
	content: "\e16c";
}
.icon-twitter:before {
	content: "\e16d";
}
.icon-twitter2:before {
	content: "\e16e";
}
.icon-twitter3:before {
	content: "\e16f";
}
.icon-feed2:before {
	content: "\e170";
}
.icon-feed3:before {
	content: "\e171";
}
.icon-feed4:before {
	content: "\e172";
}
.icon-youtube:before {
	content: "\e173";
}
.icon-youtube2:before {
	content: "\e174";
}
.icon-vimeo:before {
	content: "\e175";
}
.icon-vimeo2:before {
	content: "\e176";
}
.icon-vimeo3:before {
	content: "\e177";
}
.icon-lanyrd:before {
	content: "\e178";
}
.icon-flickr:before {
	content: "\e179";
}
.icon-flickr2:before {
	content: "\e17a";
}
.icon-flickr3:before {
	content: "\e17b";
}
.icon-flickr4:before {
	content: "\e17c";
}
.icon-picassa:before {
	content: "\e17d";
}
.icon-picassa2:before {
	content: "\e17e";
}
.icon-dribbble:before {
	content: "\e17f";
}
.icon-dribbble2:before {
	content: "\e180";
}
.icon-dribbble3:before {
	content: "\e181";
}
.icon-forrst:before {
	content: "\e182";
}
.icon-forrst2:before {
	content: "\e183";
}
.icon-deviantart:before {
	content: "\e184";
}
.icon-deviantart2:before {
	content: "\e185";
}
.icon-steam:before {
	content: "\e186";
}
.icon-steam2:before {
	content: "\e187";
}
.icon-github:before {
	content: "\e188";
}
.icon-github2:before {
	content: "\e189";
}
.icon-github3:before {
	content: "\e18a";
}
.icon-github4:before {
	content: "\e18b";
}
.icon-github5:before {
	content: "\e18c";
}
.icon-wordpress:before {
	content: "\e18d";
}
.icon-wordpress2:before {
	content: "\e18e";
}
.icon-joomla:before {
	content: "\e18f";
}
.icon-blogger:before {
	content: "\e190";
}
.icon-blogger2:before {
	content: "\e191";
}
.icon-tumblr:before {
	content: "\e192";
}
.icon-tumblr2:before {
	content: "\e193";
}
.icon-yahoo:before {
	content: "\e194";
}
.icon-tux:before {
	content: "\e195";
}
.icon-apple:before {
	content: "\e196";
}
.icon-finder:before {
	content: "\e197";
}
.icon-android:before {
	content: "\e198";
}
.icon-windows:before {
	content: "\e199";
}
.icon-windows8:before {
	content: "\e19a";
}
.icon-soundcloud:before {
	content: "\e19b";
}
.icon-soundcloud2:before {
	content: "\e19c";
}
.icon-skype:before {
	content: "\e19d";
}
.icon-reddit:before {
	content: "\e19e";
}
.icon-linkedin:before {
	content: "\e19f";
}
.icon-lastfm:before {
	content: "\e1a0";
}
.icon-lastfm2:before {
	content: "\e1a1";
}
.icon-delicious:before {
	content: "\e1a2";
}
.icon-stumbleupon:before {
	content: "\e1a3";
}
.icon-stumbleupon2:before {
	content: "\e1a4";
}
.icon-stackoverflow:before {
	content: "\e1a5";
}
.icon-pinterest:before {
	content: "\e1a6";
}
.icon-pinterest2:before {
	content: "\e1a7";
}
.icon-xing:before {
	content: "\e1a8";
}
.icon-xing2:before {
	content: "\e1a9";
}
.icon-flattr:before {
	content: "\e1aa";
}
.icon-foursquare:before {
	content: "\e1ab";
}
.icon-foursquare2:before {
	content: "\e1ac";
}
.icon-paypal:before {
	content: "\e1ad";
}
.icon-paypal2:before {
	content: "\e1ae";
}
.icon-paypal3:before {
	content: "\e1af";
}
.icon-yelp:before {
	content: "\e1b0";
}
.icon-libreoffice:before {
	content: "\e1b1";
}
.icon-file-pdf:before {
	content: "\e1b2";
}
.icon-file-openoffice:before {
	content: "\e1b3";
}
.icon-file-word:before {
	content: "\e1b4";
}
.icon-file-excel:before {
	content: "\e1b5";
}
.icon-file-zip:before {
	content: "\e1b6";
}
.icon-file-powerpoint:before {
	content: "\e1b7";
}
.icon-file-xml:before {
	content: "\e1b8";
}
.icon-file-css:before {
	content: "\e1b9";
}
.icon-html5:before {
	content: "\e1ba";
}
.icon-html52:before {
	content: "\e1bb";
}
.icon-css3:before {
	content: "\e1bc";
}
.icon-chrome:before {
	content: "\e1bd";
}
.icon-firefox:before {
	content: "\e1be";
}
.icon-IE:before {
	content: "\e1bf";
}
.icon-opera:before {
	content: "\e1c0";
}
.icon-safari:before {
	content: "\e1c1";
}
.icon-IcoMoon:before {
	content: "\e1c2";
}
.icon-pacman:before {
	content: "\e016";
}
.icon-spam:before {
	content: "\e0fc";
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.no-touch .hi-icon-effect-1a .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #41ab6b;
}

.no-touch .hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 1b */
.no-touch .hi-icon-effect-1b .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #41ab6b;
}

.hi-icon-effect-1b .hi-icon:after {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.no-touch .hi-icon-effect-1b .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 2 */
.hi-icon-effect-2 .hi-icon {
	color: #eea303;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-2 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect 2a */
.no-touch .hi-icon-effect-2a .hi-icon:hover {
	color: #eea303;
}

.no-touch .hi-icon-effect-2a .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

/* Effect 2b */
.no-touch .hi-icon-effect-2b .hi-icon:hover:after {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
	-moz-transition: -moz-transform 0.4s, opacity 0.2s;
	transition: transform 0.4s, opacity 0.2s;
}

.no-touch .hi-icon-effect-2b .hi-icon:hover {
	color: #fff;
}

/* Effect 3 */
.hi-icon-effect-3 .hi-icon {
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.hi-icon-effect-3a .hi-icon {
	color: #f06060;
}

.no-touch .hi-icon-effect-3a .hi-icon:hover {
	color: #fff;
}

.no-touch .hi-icon-effect-3a .hi-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

/* Effect 3b */
.hi-icon-effect-3b .hi-icon {
	color: #fff;
}

.no-touch .hi-icon-effect-3b .hi-icon:hover {
	color: #f06060;
}

.hi-icon-effect-3b .hi-icon:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

.no-touch .hi-icon-effect-3b .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 4 */
.hi-icon-effect-4 .hi-icon {
	width: 92px;
	height: 92px;
	box-shadow: 0 0 0 4px rgba(255,255,255,1);	
}

.hi-icon-effect-4a .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-4 .hi-icon:before {
	line-height: 92px;
}

.hi-icon-effect-4 .hi-icon:after {
	top: -4px;
	left: -4px;
	padding: 0;
	z-index: 10;
	border: 4px dashed #fff;
}

.no-touch .hi-icon-effect-4 .hi-icon:hover {
	box-shadow: 0 0 0 0 rgba(255,255,255,0);
	color: #fff;
}

/* Effect 4b */
.no-touch .hi-icon-effect-4b .hi-icon:hover {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.no-touch .hi-icon-effect-4b .hi-icon:hover:after {
	-webkit-animation: spinAround 9s linear infinite;
	-moz-animation: spinAround 9s linear infinite;
	animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	overflow: hidden;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.hi-icon-effect-5 .hi-icon:after {
	display: none;
}

.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #702fa8;
	box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}

.no-touch .hi-icon-effect-5a .hi-icon:hover:before {
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

.no-touch .hi-icon-effect-5b .hi-icon:hover:before {
	-webkit-animation: toLeftFromRight 0.3s forwards;
	-moz-animation: toLeftFromRight 0.3s forwards;
	animation: toLeftFromRight 0.3s forwards;
}

@-webkit-keyframes toLeftFromRight {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}

.no-touch .hi-icon-effect-5c .hi-icon:hover:before {
	-webkit-animation: toTopFromBottom 0.3s forwards;
	-moz-animation: toTopFromBottom 0.3s forwards;
	animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

.no-touch .hi-icon-effect-5d .hi-icon:hover:before {
	-webkit-animation: toBottomFromTop 0.3s forwards;
	-moz-animation: toBottomFromTop 0.3s forwards;
	animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

/* Effect 7 */
.hi-icon-effect-7 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
}

.no-touch .hi-icon-effect-7 .hi-icon:hover {
	color: #fff;
}

.hi-icon-effect-7 .hi-icon:after {
	top: -8px;
	left: -8px;
	padding: 8px;
	z-index: -1;
	opacity: 0;
}

/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after {
	box-shadow: 0 0 0 rgba(255,255,255,1);
	-webkit-transition: opacity 0.2s, box-shadow 0.2s;
	-moz-transition: opacity 0.2s, box-shadow 0.2s;
	transition: opacity 0.2s, box-shadow 0.2s;
}

.no-touch .hi-icon-effect-7a .hi-icon:hover:after {
	opacity: 1;
	box-shadow: 3px 3px 0 rgba(255,255,255,1);
}

.hi-icon-effect-7a .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.no-touch .hi-icon-effect-7a .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 7b */
.hi-icon-effect-7b .hi-icon:after {
	box-shadow: 3px 3px rgba(255,255,255,1);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	-moz-transition: opacity 0.2s, -moz-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.no-touch .hi-icon-effect-7b .hi-icon:hover:after {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.hi-icon-effect-7b .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.no-touch .hi-icon-effect-7b .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 8 */
.hi-icon-effect-8 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.no-touch .hi-icon-effect-8 .hi-icon:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}

.hi-icon-effect-8 .hi-icon:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.no-touch .hi-icon-effect-9a .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.no-touch .hi-icon-effect-9a .hi-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,1);
	color: #fff;
}

/* Effect 9b */
.no-touch .hi-icon-effect-9b .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

.no-touch .hi-icon-effect-9b .hi-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
	color: #fff;
}
