/********************************************************************
* Stylesheet for enviroCar analyser
*
* @author 		Daniel Sawatzky
* @link 		http://giv-geosoft2a.uni-muenster.de/
* @copyright 	Copyright 2014, Geosoftware 2 Group A, ifgi Muenster
* @version 		1.0
*
* Content:  1. General styles and calibration
*		 	2. enviroCar analyser styles
*				2.1 Map styles
* 				2.2 View Dropdown styles
* 				2.3 Chart styles
* 				2.4 Table styles
* 			3. Google Maps styles
*			4. Button styles
* 			5. Style fixes
********************************************************************/

/********************************************************************
	1. General styles and calibration
********************************************************************/

html { 
	overflow-y:hidden;
	overflow-x:hidden;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

/********************************************************************
	2. enviroCar analyser styles
********************************************************************/

#application-wrapper {
	height:100%;
	width: 100%;
}

#header-nav{
	position: fixed;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: #fff;
	border-bottom: 1px solid #888888;
	height: 10em;
	display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
	width: 100%;
	z-index: 50;

}

#header-nav .logo {
	-webkit-flex: logo;
	flex: logo;
	width: 6%;
	margin: 1em 0 0 0.5em;
}

#header-nav .controls {
	border: 1px solid #8c8c8c;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	height: 25px;
}
  
#date-from  {
	background-color: #fff;
	width: 150px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	text-overflow: ellipsis;
	text-align: center;
	float: right;
}

#date-to {
	background-color: #fff;
	width: 150px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	text-overflow: ellipsis;
	text-align: center;
	float: right;
}

#date-from:focus {
	border-color: #4d90fe;
}

#date-to:focus {
	border-color: #4d90fe;
}

.timelabel{
	float: left;
	margin: 1em 0.5em 0 0; 
	
}
#timeSelection {
	
}

#space {
	margin-left: 2em;
	margin-top: 0.5em;
	
}
#spaceSelection {
	margin: 0.5em 1em 1.5em 0em;
}

#trackSelection {
	float: left;
	width: 100%;
}
#trackSelectionList {
	width: 130px;
}

#streetSelection {
	margin: 0.4em 1em 1.6em 0em;
	background-color: #fff;
	width: auto;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	text-overflow: ellipsis;
	text-align: center;
}

#carModelSelection {
	margin-left: 2em;
}

#analyser-dropdown {
	position: relative;
	top: 2.5em;
	left: 1em;
	font-size: 10px;
	margin : 0;
	z-index: 49;
	width: 100px;
	text-decoration: none;
	/*margin-left: 1em;*/
	display : none;
}

#analyser-dropdown ul {
	list-style-type: none;
	width: 100px;
	margin: 0px;
	padding: 0px;
}

.analyser-dropdown-topmenu a:hover, a:focus {
	color: #1D83C3;
	text-decoration: none;
}

.analyser-dropdown-topmenu a {
	float: left;
	width: 200px;
	text-align: center;
	text-decoration: none;
}

.analyser-dropdown-topmenu ul {
	display: none;
}

.analyser-dropdown-topmenu a, .analyser-dropdown-submenu a {
	padding: 5px 5px;
	border: 1px solid #000;
	border-collapse: collapse;
	color: #000;
	font-weight: bold;
	font-size: large;
	text-decoration: none;
	background-color: #FFF;
	margin: 0;

}

.analyser-dropdown-submenu a {
	padding: 5px;
	font-size: large;
	text-align: left;
	width: 200px;
	position: relative;
	text-decoration: none;
}

.analyser-dropdown-submenu a:hover {
	background-color: #1D83C3 !important;
	color: #fff;
	text-decoration: none;
}

.analyser-dropdown-topmenu:hover ul {
	display: block;
	z-index: 49;
}

#analysisInterpolation {
	position: relative;
	top: 4.5em;
	left: -3em;
	display: none;
}

#analysisInterpolation-label {
	margin-bottom: 5em;
	font-size: 14px;
	text-align: center;
}

#aggregation {
	margin-left: 1em;
	display: none;
}

#aggregation-label {
	margin-bottom: 5em;
	font-size: 14px;
	text-align: center;
}

#limit-filter {
	margin-left: 1em;
	display: none;

}

#limitFilter-label {
	margin-bottom: 5em;
	margin-left: 1em;
	font-size: 14px;
	text-align: center;
}

#analysis-mode {
	position: absolute;
	right: 5em;
	width: 9em;
}

#analysis-mode-label {
	font-size: 1em;
	text-align: center;
	margin-left: 1.2em;
}

#helpButton{
	margin: 1em 0 0 3em;
	position: absolute;
	right: 1em;
}

#analyser-help {
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;

}

#analyser-help-mapview {
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;

}

#analyser-help-getdata {
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;

}

#analyser-help-interpolation {
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;

}

#analyser-help-aggregation {
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;

}

#analyser-help-filter {
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;

}

#analyser-help-environment {
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;

}

#analyser-help-selection {
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;

}

#analyser-contact{
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;
}

#analyser-imprint{
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;
}

#analyser-terms{
	padding: 1.5em;
	height: 75%;
	width: 49.9%;
	overflow:auto;
	bottom: 1.5em;
	margin-top: -4em;
}

#footer{
	bottom: 0;
    position:fixed;
    width:100%;
	text-align: center;
	background: #fff;
	border-top: 1px solid #888888;
	height: 1.5em;
	font-size: 0.9em;
}

/* enviroCar colours for fonts and backgrounds */

.blue { color: #1D83C3; }
.bblue { background-color: #1D83C3; color: white;}
.green { color: #92C049; }
.bgreen { background-color: #92C049; }

/* Loading window */

#loading-div-background {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 100;
    background: rgba(0, 0, 0, 0.5);
}
 
#loading-div{
	width: 300px;
	height: 200px;
	background-color: #fff;
	text-align:center;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left:-150px;
	margin-top: -100px;
	z-index: 101;
	opacity: 1;
}

#spinner {
	background: url(img/loading.gif) no-repeat 16px 16px;
	height:16px;
	margin:30px;
	z-index: 102;
  	/*padding-left: 20px;*/
}
 
/********************************************************************
	2.1 enviroCar analyser map styles
********************************************************************/

#map-container {
	position: absolute;
    width: 100%;
    height: auto !important;
	overflow: hidden;
	top: 10em;
	bottom: 1.4em;
	border-right: 1px solid #888888;
}

#map-container i {
	position: absolute;
	display: block;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

.map-top { top: -5px; left: 0; right: 0; height: 5px; z-index: 10;}
.map-bottom { bottom: -5px; left: 0; right: 0; height: 5px; z-index: 10;}
.map-left { left: -5px; top: 0; bottom: 0; width: 5px; z-index: 10;}
.map-right { right: -5px; top: 0; bottom: 0; width: 5px; z-index: 10;}

#map {
	height: 100%;
}

/********************************************************************
	2.2 enviroCar analyser view dropdown styles
********************************************************************/




#analyser-switcher {
	font-size: 10px;
	position: absolute;
	top: 8em;
	margin : 0;
	z-index: 49;
	text-decoration: none;
	right: 8.9em;
	display: none;
}

#analyser-switcher ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.analyser-switcher-topmenu a:hover, a:focus {
	color: #1D83C3;
	text-decoration: none;
}

.analyser-switcher-topmenu a {
	float: left;
	width: 120px;
	text-align: center;
	text-decoration: none;
}

.analyser-switcher-topmenu ul {
	display: none;
}

.analyser-switcher-topmenu a, .analyser-switcher-submenu a {
	padding: 5px 5px;
	border: 1px solid #000;
	border-collapse: collapse;
	color: #000;
	font-weight: bold;
	font-size: large;
	text-decoration: none;
	background-color: #FFF;
	margin: 0;

}

.analyser-switcher-submenu a {
	padding: 5px;
	font-size: large;
	width: 120px;
	position: relative;
	text-decoration: none;
}

.analyser-switcher-submenu a:hover {
	background-color: #1D83C3 !important;
	color: #fff;
	text-decoration: none;
}

.analyser-switcher-topmenu:hover ul {
	display: block;
	z-index: 49;
}

/********************************************************************
	2.3 enviroCar analyser chart styles
********************************************************************/

#analyser-panel {
	float: right;
	width: 50%;
	z-index: 10;
}

#analyser-chart{
	position: relative;
	width: 100%;
	border: none;
}

.top {
	position: absolute;
	top: 14em;
}

.top2 {
	position: absolute;
	top: 11em;
}

/********************************************************************
	2.4 enviroCar analyser table styles
********************************************************************/

#analyser-table{
	position: relative;
	overflow: auto;
	margin-right: 1em;
	margin: 1.5em;
	width: 97%;
	border: none;

}

.bottom {
	bottom: 1.4em;	
}

@media (max-height: 720px) {
	#analyser-table{
		height: 80%;
	}
}

@media (max-height: 600px) {
	#analyser-table{
		height: 75%;
	}
}

@media (max-height: 500px) {
	#analyser-table{
		height: 70%;
	}
}
/********************************************************************
	3. Google Maps styles
********************************************************************/

/* Search control and input
 * @see https://developers.google.com/maps/documentation/javascript/examples/places-searchbox?hl=de
 * */

.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
  
#search-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
  }

#search-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

.search-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#search-button {
	background-color: #4285f4;
	padding: 0 11px 0 13px;
	position: absolute;
	width: 50px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat; 
	background-position: 10px 2px; 
	text-overflow: ellipsis;
	z-index:2;
	display:inline-block;
	
}

#search-button:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 51px;
}

#search-button:active {
	background-color: #3f76d3;
	padding: 0 11px 0 13px;
	position: absolute;
	width: 50px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat; 
	background-position: 10px 2px; 
	text-overflow: ellipsis;
	z-index:2;
	display:inline-block;
	vertical-align: top;
}

/********************************************************************
	4. Button styles
********************************************************************/

#selectTimeBtn {
	color: #1D83C3;
	background: #fff;
	border: 1px solid #1D83C3;
	font-weight: bold;
	width: 100%;
	height: 25px;
	float: right;
	margin: 1em 0 0 0;
}

#selectTimeBtn:hover {
	color: #fff;
	background-color: #1D83C3;
	border: 1px solid #1D83C3;
	font-weight: bold;
}

.spaceButton {
	color: #92C049;
	background: #fff;
	border: 1px solid #92C049;
	font-weight: bold;
	height: 25px;
	width: 100%;
}

.spaceButton:hover {
	color: #fff;
	background-color: #92C049;
	border: 1px solid #92C049;
	font-weight: bold;
	
}


#refreshBtn {
	color: #1D83C3;
	background: #fff;
	border: 1px solid #1D83C3;
	font-weight: bold;
	width: 120px;
	height: 30px;
	margin: 0.5em 0 0 4em;

}

#refreshBtn:hover {
	color: #fff;
	background-color: #1D83C3;
	border: 1px solid #1D83C3;
	font-weight: bold;
	width: 120px;
	height: 30px;
	margin: 0.5em 0 0 4em;

}

/* Analysis Mode switch */

#analyseModeBtn {
	color: #1D83C3;
	background: #fff;
	border: 1px solid #1D83C3;
	font-weight: bold;
	width: 120px;
	height: 30px;
	margin: 0.5em 0 0 1em;
	outline:none;

}

.left{
	float:left;
}
.right {
	float: right;
}


#interpolationBtn{
	margin: 1em 0 0 1em;
	outline:none;
}

#filterBtn{
	margin: 1em 0 0 1em;
	outline:none;
}

#aggregationBtn{
	margin: 1em 0 0 1em;
	outline:none;
}

#hideLoadingWindowBtn {
	color: #1D83C3;
	background: #fff;
	border: 1px solid #1D83C3;
	font-weight: bold;
	width: 100px;
	height: 25px;
	margin: 1em 0 0 0;
}

#hideLoadingWindowBtn:hover {
	color: #fff;
	background-color: #1D83C3;
	border: 1px solid #1D83C3;
	font-weight: bold;
}

/********************************************************************
	5. Style fixes
********************************************************************/

/* clear-fix */
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

/* set datepicker to the foreground */
.ui-datepicker{z-index: 99 !important};

/* remove blue border from buttons */
button:focus, input:focus {
	outline: none;

}
button::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner { 
	border: none; 
} 
* {
    outline: none;
}

a {
    outline: 0;
}