/**
* Stylesheet for enviroCar analyser
*
* @author 		Daniel Sawatzky
* @link 		http://giv-geosoft2a.uni-muenster.de/
* @copyright 	Copyright 2014, Daniel Sawatzky, ifgi Muenster
* @version 		1.0
*/


/* 
* @section 		Some default/basic code for the website to get started
* 
*/

html, body {
    width: 100%;
    height:100%;
    background-color: #fff !important;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#body-container {
    
    /*height:100%;*/
    position:relative;
    
    
}

#content {
	
}
/* classes for clearfix and floating of divs */

.left{
   float: left;
   width:50%;
}
 
.right{
   float: right;
   width:50%;
}

.top{
   top: 100px;
   height:35%;
}
 
.bottom{
   height:40%;
   top: 55%;
}


/* 
* @section 		Styling for layout sections like the header and footer.
* 
*/

header {
    text-align: auto;
	border-bottom: 1px solid #888888;
	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 20;
}

.body-header {
    margin:0 0 4em 0;
}

/*
* Navigation (Tool)Bar in Header
*/

#nav-bar {
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #888888;
	
}

#nav-bar .container {
    position: relative;
    z-index: 2;

}


#nav-bar table {
	width: 100%;
	border: none;

}

#nav-bar td {
	border: none;
}

#nav-bar h1 {
    margin: .9em 0 .5em 0;
    letter-spacing: 8px;
}

#nav-bar p {
    font-weight: 700;
}

#trackSelection {
	display: block;
	
}

#analysis-interpolation {
	display: none;
}

#analysis-mode-interpolation-label {
	color: #fff;
}

progress {  
    background-color:  #fff;  
    color: #92C049; 
    border: 0;  
    height: 18px;  
    border-radius: 9px;  
    display: none;
}  

progress::-moz-progress-bar {  
    background-color: #92C049;  
    border: 0;  
    height: 18px;  
    border-radius: 9px;  
    
}  
/*
*	Footer
*/

footer {
    bottom: 0;
    position:fixed;
    width:100%;
	text-align: center;
	background: #fff;
	font-size: 0.95em; 
	border-top: 1px solid #888888;
	z-index: 20;
}

.footer {
	height: 20px;
	padding: 0.4em;
}
.footer-container {
    text-align: center;
} 


/*
* @section 		Color styling for everything
* 
*/

/* enviroCar colors for fonts and backgrounds */

#blue { color: #1D83C3; }
#bblue { background-color: #1D83C3; color: white;}
#green { color: #92C049; }
#bgreen { background-color: #92C049; }


/* 
* @section 		enviroCar related styling and positioning like toolbar, map, charts and tables
* 
*/


#logo-container {
	font-size: 0.85em; 
	text-align: center;
}

a img{
    border: none;
}

/* Map */

#map-container {
	position: relative;
    width: 100%;
	overflow: hidden;
	top: 106px;
	bottom: 20px;
}


#map-container i {
	position: absolute;
	display: block;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

.map-top { top: -5px; left: 0; right: 0; height: 5px; z-index: 10;}
/*.map-right { right: -5px; top: 0; bottom: 0; width: 5px; } */
.map-bottom { bottom: -5px; left: 0; right: 0; height: 5px; z-index: 10;}
/*.map-left { left: -5px; top: 0; bottom: 0; width: 5px; } */


#map {
	position: relative;
	height: 636px;
}


/* table */

#table {
	
	display: none;
	position: absolute;
	overflow:scroll;
	margin: 5px;
	padding: 25px;

}

#data-table {
	
	float: right;

}

/* tabs and charts */
 
#tabs {
     width: 95%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
}

#chart {
	display: none;
	position: absolute;
	width:49%; 
	
}

#calendar {
    border: none;
    z-index: 4;
    padding: 0;
   	width: 100%;
   	float: left;
}

#timerange-btn {
	float: right;
	
}

#help-button {
border: none;
}

#refresh-button {
border: none;
}


/* Search control and input
 * @see https://developers.google.com/maps/documentation/javascript/examples/places-searchbox?hl=de
 * */

.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
  
#search-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
  }

#search-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

.search-container {
	font-family: Roboto;
}


#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#search-button {
	background-color: #4285f4;
	padding: 0 11px 0 13px;
	position: relative;
	width: 50px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat; 
	background-position: 10px 2px; 
	text-overflow: ellipsis;
}

#search-button:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 51px;
}


/* 
* @section 		Styling for components like buttons, forms, labels, tables, etc.
*
*/

/* Flip switch */

.onoffswitch {
    position: relative; width: 116px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	z-index: 2;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
    font-size: 25px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "AN";
    padding-left: 14px;
    background-color: #EEEEEE; color: #1D83C3;
	text-align: left;
}
.onoffswitch-inner:after {
    content: "AUS";
    padding-right: 14px;
    background-color: #EEEEEE; color: #92C049;
    text-align: right;
}
.onoffswitch-switch {
    width: 38px; margin: 1.5px;
    background: #92C049;
    border: 2px solid #FFFFFF; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 71px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #1D83C3; 
}


/* Button animation */

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

/* ### ### ### 03 */
.b03_skewed_slide_in {
    overflow: hidden;
    border: #fff solid 1px;
}

.b03_skewed_slide_in div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.b03_skewed_slide_in div:nth-child(1) {
    color: #000000;
    background-color: #ffffff;
}

.b03_skewed_slide_in div:nth-child(2) {
    background-color: #92C049;
    width: 230px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translate(-250px, 0px) skewX(-30deg);
    -webkit-transform: translate(-250px, 0px) skewX(-30deg);
    -moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
    color: #ffffff;
    left: -200px;
    transition: left 0.2s ease;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: translate(-15px, 0px) skewX(-30deg);
    -webkit-transform: translate(-15px, 0px) skewX(-30deg);
    -moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
    left: 0px;
    transition: left 0.30000000000000004s ease;
    -webkit-transition: left 0.30000000000000004s ease;
    -moz-transition: left 0.30000000000000004s ease;
}

/* Clear fix for div positioning */

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

/* PRINT STYLES
* Inlined to avoid required HTTP connection: h5bp.com/r
*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


